@import 'variables';

html {
    font-size: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: $light-col;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: $light-col;
    background-image: url(/img/bkg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.wrapper {
    max-width: 1270px;
    min-height: 100vmin;
    margin: 0 auto;
}

.header {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
    width: inherit;
    left: 0;
    right: 0;
}

.head-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &__logo {
        padding: 10px;
        width: 120px;
        height: 120px;
    }
    &__title {
        margin-left: -40px;
        margin-right: 20px;
        font-size: 4.1rem;
        padding: 10px 0px 10px 0px;
        font-weight: 600;
        color: $light-col;
        letter-spacing: 0.2rem;
        text-align: center;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: -5%;
            bottom: 0.6rem;
            width: 110%;
            height: 0.4rem;
            background: white;
            z-index: 1;
        }
    }
    &__annotation {
        font-weight: 400;
        font-size: 1.3rem;
        margin: 10px;
        padding: 0 10px 10px 10px;
        max-width: 500px;
        color: $light-col;
        min-width: 300px;
        text-align: center;
    }
}

@media (max-width: 374px) {
    .head-block__title {
        margin: 0;
    }
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 0 0 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-el {
    flex: 1 0;
    display: flex;
    &__link {
        text-align: center;
        text-transform: lowercase;
        font-weight: 600;
        letter-spacing: 0.5rem;
        padding: 16px;
        font-size: 2rem;
        flex: 1 0;
        width: inherit;
        min-width: 90px;
        transition: 0.3s ease;
        border-radius: 0px 0px 10px 10px;
        &:hover {
            background-color: $light-col;
            color: $dark-col;
        }
    }
}

.tg {
    margin: 10px 0 10px 0;
    padding: 20px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
    &__icon {
        width: 100px;
        height: 100px;
    }
    &__text {
        font-size: 3.1rem;
        letter-spacing: 0.3rem;
        text-transform: lowercase;
        font-weight: 600;
        padding: 20px;
    }
    &:hover {
        background-color: $dark-col;
    }
}

.struct {
    max-width: 989px;
    margin: 0 auto;
}

.struct-low {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.block-wrap {
    margin: 10px;
    display: flex;
}

.struct-block {
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    width: 290px;
    justify-content: space-between;
    text-align: left;
    color: $dark-col;
    display: flex;
    transition: 0.5s ease;
    &:hover {
        background-color:rgba(255, 255, 255, 0.2);
        color: $light-col;
    }
    &:hover &__av {
        border: 4px solid rgba(169, 148, 196, 1);
    }
    &:hover &-data__name {
        color: $light-col;
    }
    &__av {
        width: 60px;
        height: 60px;
        transition: 0.5s ease;
        border-radius: 50%;
        border: 4px solid rgba(255, 255, 255, 0);
    }
    &-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        font-size: 1.9rem;
        padding: 10px;
        &__name {
            font-weight: 600;
            color: #604682;
            transition: 0.5s ease;
            flex-wrap: nowrap;
        }
        &__rank {
            font-weight: 400;
            font-size: 1.4rem;
            letter-spacing: 1px;
            text-transform: lowercase;
        }
    }
}

.leader {
    display: flex;
    justify-content: center;
}

.struct-block-lead {
    background-color: rgba(169, 148, 196, 0.8);
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    align-items: center;
    width: 290px;
    text-align: left;
    color: $dark-col;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    transition: 0.5s ease;
    &:hover {
        background-color:rgba(255, 255, 255, 0.2);
        color: $light-col;
    }
    &:hover &__av {
        border: 4px solid rgba(169, 148, 196, 1);
    }
    &:hover &-data__name {
        color: $light-col;
    }
    &__av {
        width: 70px;
        height: 70px;
        transition: 0.5s ease;
        border: 4px solid rgba(255, 255, 255, 0);
        border-radius: 50%;
    }
    &-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        font-size: 2.1rem;
        padding: 10px;
        &__name {
            font-weight: 600;
            color: $dark-col;
            transition: 0.5s ease;
            flex-wrap: nowrap;
        }
    }
}

.section {
    margin: 20px 0 0 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 0 40px 0;
    &__title {
        text-align: center;
        font-size: 3.1rem;
        padding: 20px;
        font-weight: 600;
        text-transform: lowercase;
        letter-spacing: 0.3rem;
    }
    &_dark {
        background-color: rgba(255, 255, 255, 0.1);
    }
}