html {
  font-size: 10px;
  font-family: 'Old Standard TT', serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff9fa;
}

body {
  font-size: 16px;
  color: #fff9fa;
  background-image: url(/img/bkg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.wrapper {
  max-width: 1270px;
  width: 95%;
  margin: 0 auto;
}

.header {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 10px 10px;
  width: inherit;
  left: 0;
  right: 0;
}

.head-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-block-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-block-logo__img {
  padding: 10px;
  width: 120px;
  height: 120px;
}

.head-block-logo__title {
  margin-left: -40px;
  margin-right: 20px;
  font-size: 4.1rem;
  font-family: 'Playfair Display SC', serif;
  padding: 10px 0px 10px 0px;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: #fff9fa;
  text-align: center;
  position: relative;
}

.head-block-logo__title::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: 0.6rem;
  width: 110%;
  height: 0.4rem;
  background: white;
  z-index: 1;
}

.head-block__annotation {
  font-weight: 400;
  font-size: 1.7rem;
  margin: 10px;
  padding: 0 10px 0px 10px;
  max-width: 500px;
  color: #fff9fa;
  text-align: center;
}

@media (max-width: 391px) {
  .head-block-logo__title {
    margin: 0;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0 0 10px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-el {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-el__link {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-family: 'Montserrat', sans-serif;
  padding: 16px;
  font-size: 2.1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  width: inherit;
  min-width: 90px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 0px 0px 10px 10px;
}

.navbar-el__link:hover {
  background-color: #fff9fa;
  color: #000115;
}

.tg {
  margin: 20px 0 10px 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.tg__icon {
  width: 80px;
  height: 80px;
}

.tg__text {
  font-size: 3.1rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 600;
  padding: 20px;
}

.tg:hover {
  background-color: #000115;
}

.struct {
  max-width: 989px;
  margin: 0 auto;
}

.struct-low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-wrap {
  margin: 10px;
  max-width: 310px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.struct-block {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  color: #000115;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.struct-block:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff9fa;
}

.struct-block:hover .struct-block__av {
  border: 4px solid #a994c4;
}

.struct-block:hover .struct-block-data__name {
  color: #fff9fa;
}

.struct-block__av {
  width: 60px;
  height: 60px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0);
}

.struct-block-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  font-size: 1.9rem;
  padding: 10px;
}

.struct-block-data__name {
  font-weight: 600;
  color: #604682;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.struct-block-data__name_lead {
  color: #000115;
}

.struct-block-data__rank {
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.struct-block_lead {
  background-color: rgba(169, 148, 196, 0.8);
}

.leader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section {
  margin: 20px 0 0 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 0 40px 0;
}

.section__title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.1rem;
  padding: 20px;
  font-weight: 600;
}

.section-body {
  padding: 0 5%;
  font-size: 2rem;
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
  margin: auto;
  text-align: justify;
  max-width: 700px;
}

.section_dark {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000115;
}
/*# sourceMappingURL=style.css.map */